---
const { title, description, cta, label } = Astro.props;
---

<div class="card-Outlayer">
  <div class="card-Outlayer-body">
    <h3 class="text-white mb-4 text-2xl">{title}</h3>
    <p class="card-Outlayer-text">{description}</p>
  </div>
  <div class="card-Outlayer__cta">
    <a class="btn btn-primary" href={cta}>
      {label}
    </a>
  </div>
</div>

<style>
  .card-Outlayer {
    border: 1px solid #ff715e;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }

  .card-Outlayer-text {
    color: white;
    font-size: 20px;
    line-height: 25px;
    font-family: "Sitka Banner";
    font-weight: 400;
  }

  .card-Outlayer__cta{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
  }


</style>
