---

---

<div class="course-info-video-mock">
  <img src="/images/playbtn.svg" alt="eyeliner course info" />
</div>

<style>
  .course-info-video-mock {
    border: 2px solid #ff715e;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .course-info-video-mock img {
    width: 140px;
  }
</style>
