---
import Title from "@/layouts/components/Title.astro";
---

<section class="about-us-info">
  <div class="container">
    <div class="row">
      <div class="col-12 md:col-3"></div>
      <div class="col-12 md:col-7 pl-8 mb-5">
        <Title tag="h2" title={"About US"} />
      </div>
      <div class="col-12 md:col-4">
        <img
          src="/images/about-us/mariana-rivera.png"
          class="rounded-sm"
          alt="mariana-rivera"
        />
      </div>
      <div class="col-12 md:col-8 pl-6">
        <p class="about-us-info__text mb-5">
          Founded in January 2020, Modern Beauty ACA has become a beacon of
          empowerment in the beauty industry, led by owner and permanent makeup
          expert María Rivera. Our studio isn't just about offering
          semi-permanent services like microblading, eyeliner, and lip and brow
          micropigmentation—it's a place where confidence is restored, futures
          are shaped, and beauty is celebrated in its most authentic form.
        </p>
        <p class="about-us-info__text">
          Maria's journey into cosmetic artistry was driven by a passion to help
          others look and feel their best, blending technical skill with
          personal empathy. She built Modern Beauty ACA from the ground up with
          a mission to create meaningful, bespoke enhancements with precision
          and heart.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .about-us-info {
    padding: 40px 0;
  }
  .about-us-info__text {
    font-size: 21px;
  }
</style>
