---
const { title, description, image } = Astro.props;
import Title from "@/layouts/components/Title.astro";
---

<section class="section course-about">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-16">
        <Title title={title} align="center" tag="h2" class="text-center"/>
      </div>

      <div class="col-12 md:col-6 order-2 order-md-1 mb-8 md:mb-0">
        <p set:html={description} class="animate-slide-in-up" />
      </div>
      <div class="col-12 md:col-5 px-4 md:px-16 order-1 order-md-2 mb-8 md:mb-0">
        <img src={image} alt={title} class="animate-slide-in-up" />
      </div>
    </div>
  </div>
</section>