@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @include meta.load-css("fonts");
  @include meta.load-css("base");
}

@layer components {
  @include meta.load-css("components");
  @include meta.load-css("navigation");
  @include meta.load-css("buttons");
}

@layer utilities {
  @include meta.load-css("utilities");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sitka Banner';
  color: #27252A;
}


.font-title{
  font-family: 'Sitka Banner';
}

p{
  font-family: "Poppins", sans-serif;

  color: #27252A;
}