---
import Base from "@/layouts/Base.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const homepage = (await getEntry(
  "homepage",
  "-index",
)) as CollectionEntry<"homepage">;
const { banner, key_features, service, testimonial } = homepage.data;
---

<Base>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hero pt-10 pb-10">
            <div class="hero__content">
              <img
                src="/images/home/mariarivera.png"
                alt="Maria Rivera"
                class="hero__image"
              />
              <div class="hero__title-content">
                <h1 class="hero__title">
                  Pennsylvania’s Top-Rated Microblading & Beauty Academy
                </h1>
              </div>
              <div class="hero__subtitle-content">
                <p class="hero__subtitle">
                  Experts in Powder Brows, Lip Blushing, Eyeliner & Professional
                  Training.
                </p>
              </div>

              <div class="hero__button-content">
                <a href="#" class="button-primary"> View Courses </a>
                <a href="#" class="button-primary"> Book Appointment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>

<style>
  .hero__content {
    position: relative;
  }
  .hero__image {
    position: relative;
    z-index: 4;
    left: 80px;
    width: 350px;
  }

  .hero__title-content {
    z-index: 3;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #deb6a4;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 870px;
    border-radius: 15px;
  }

  .hero__title {
    font-size: 30px;
    line-height: 33px;
    font-weight: 300;

    color: #000;
    font-family: "Sitka Banner", sans-serif;
    font-style: italic;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 38px;
    }
  }

  .hero__subtitle-content {
    z-index: 2;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2cece;
    padding-left: 22px;
    padding-top: 66px;
    max-width: 370px;
    border-radius: 15px;
  }

  .hero__subtitle {
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    font-family: "Segoe UI", sans-serif;
    font-weight: 300;
    text-align: center;
  }

  .hero__button-content{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    left: 40%;
  
  }
</style>
